<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IndividualProject.Properties.Settings.connectionString"
            connectionString="Server= DESKTOP-OJEQUAD\SQLEXPRESS; Database= IndividualProject;Integrated Security = SSPI;" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
